<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>.:: Sound Place ::.</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main class="wrapper">

      <nav class="navigation">
        <section class="container">
          <%= link(to: admin_dashboard_path(@conn, :index), class: "navigation-title") do %>
            <h1 class="title">Sound Place</h1>
          <% end %>

          <ul class="navigation-list float-right">
            <li class="navigation-item">
              <%= link("Dashboard",
                       to: admin_dashboard_path(@conn, :index),
                       class: "navigation-link") %>
            </li>

            <li class="navigation-item">
              <a class="navigation-link" href="#popover-grid" data-popover="">Media</a>
              <div class="popover" id="popover-grid">
                <ul class="popover-list">
                  <li class="popover-item">
                    <%= link("Album types",
                             to: admin_album_type_path(@conn, :index),
                             class: "popover-link",
                             title: "Album types") %>
                  </li>

                  <li class="popover-item">
                    <%= link("Genres",
                             to: admin_genre_path(@conn, :index),
                             class: "popover-link",
                             title: "Genres") %>
                  </li>

                  <li class="popover-item">
                    <%= link("Labels",
                             to: admin_label_path(@conn, :index),
                             class: "popover-link",
                             title: "Labels") %>
                  </li>
                </ul>
              </div>
            </li>

            <li class="navigation-item">
              <%= link("Users",
                       to: admin_user_path(@conn, :index),
                       class: "navigation-link") %>
            </li>

            <li class="navigation-item">
              <%= link("Sign out",
                       to: session_path(@conn, :delete),
                       class: "navigation-link",
                       method: :delete,
                       data: [confirm: "Are you sure?"]) %>
            </li>
          </ul>
        </section>
      </nav>

      <section class="container">
        <div class="row">
          <div class="column">
            <%= render "messages.html", conn: @conn %>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </section>

      <footer class="footer">
        <section class="container">
          <p>Designed by Sound Place.</p>
        </section>
      </footer>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      require("js/app").App.run()
    </script>
  </body>
</html>
