<%= if get_flash(@conn, :info) != nil ||  get_flash(@conn, :error) != nil do %>
  <div class="row">
    <div class="column">
      <% if get_flash(@conn, :info) != nil do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <% if get_flash(@conn, :error) != nil do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
    </div>
  </div>
<% end %>
